:root {
    font-family: "IBM Plex Mono", serif;
    font-weight: 400;
    font-style: normal;
}

body {
/*    margin: 1em;*/
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
    background-color: #fffff1;
}

.active a {
    color: red;
    font-weight: bold;
}

nav {
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 1em;
}

nav ul {
    margin: 0;
    padding: 0;
}